#aka {
  background-color: cadetblue;
  color: grey;
  font-size: small;
  margin-left: 5px;
  font-style: oblique;
  text-transform: uppercase;
}

.card-body {
  text-align: left;
}

.card-text {
  margin: 0;
}

.card {
  border: 2px solid #0077cc;
  border-radius: 1rem;
  margin: 5px;
  padding: 12px;
  width: 18rem;
}

#errorMessage {
  color: red;
}

#flag {
  border: 1px solid #0077cc;
  border-radius: 0.5rem;
  height: 50px;
  margin-bottom: 5px;
  padding: 2px;
  width: 150px;
}

#footer {
  background-color: aliceblue;
  bottom: 0px;
  color: black;
  font-size: x-large;
  height: 72px;
  padding-top: 30px;
  position: absolute;
  @media screen (max-width: 768px) {
    font-size: large;
    height: 48px;
  }
}

#results {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
