#aka {
  background-color: #0077cc;
  border-radius: 0.5rem;
  color: white;
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
  font-style: oblique;
  padding: 2px;
  text-transform: uppercase;
}

.card-body {
  text-align: left;
}

.card-text {
  margin: 0;
}

.card {
  border: 4px solid #0077cc;
  border-radius: 1rem;
  margin: 5px;
  padding: 12px;
  word-wrap: break-word;
  width: 26rem;
}

#errorMessage {
  color: red;
}

#flag {
  border: 1px solid #0077cc;
  border-radius: 0.5rem;
  height: 100px;
  margin: 5px 0px;
  padding: 2px;
  width: 180px;
}

#footer {
  background-color: aliceblue;
  bottom: 0px;
  color: black;
  font-size: large;
  height: 72px;
  padding-top: 30px;
  position: relative;
}

#results {
  align-items: center;
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen(max-width: 768px) {
    min-height: 70vh;
  }
}

#selection {
  background-color: darkgrey;
  border-radius: 1rem;
  border-style: groove;
  font-size: larger;
  font-weight: bold;
  height: 50px;
  text-align: center;
  width: 150px;
}

#title {
  color: darkcyan;
  padding: 5px 0;
}
